@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



body{
    margin: 0px;
    padding: 0px;
    background-image: linear-gradient(to bottom, rgba(7, 64, 139, 0.925) 20%, #303030 50%);
    background-repeat: no-repeat;
    background-color: var(--preto-dnc);

}

:root{
    --azul-dnc:#0C70F2;
    --preto-dnc:#303030;
    --cinza-hover:#C9C9C9;
    --fonte-padrao:'Inter'

}

#principal{
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
    height: 100px;
    background-color: #303030;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #BABABA;
    box-sizing: border-box;
}

#menu{
    display: flex;
    width: 45%;
    justify-content: space-around;
    align-items: center;
    margin-left: 5%;
}

#principal div a {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: white;
    text-decoration: none;
}

#principal div a:hover{
    color: #cccccc;
}

#principal button{
    margin-right: 5%;
    background-color: #0C70F2;
    color: white;
    border: 0px;
    height: 39px;
    width: 80px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 20px;
    box-shadow: 3px 3px 5px #0c70f24f;
    cursor: pointer;
}

#principal button:hover{
    background-color: #1e7cf7;
    box-shadow: 3px 3px 5px #2480f860;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 60px;
    margin-bottom: 100px;
}

header {
    color: white;
    margin-bottom: 100px;
}

header h1{
    text-align: center;
    font-size: 80px;
    font-family: var(--fonte-padrao);
    font-weight: 800;
}

header h2{
    font-family: var(--fonte-padrao);
    font-weight: 700;
    font-size: 40px;
    text-align: center;
}

header .invert{
    background-color: black;
    padding: 2px;
}

/* formulário */

form{
    color: white;
    font-family: var(--fonte-padrao);
    font-weight: 600;
    font-size: 30px;
    width: 600px;
}

.form-group{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
}

form input{
    border-radius: 10px;
    height: 35px;
    border: 0px;
    font-size: 20px;
    padding: 10px;
    background-color: #FFFFFFE5;
}

form label{
    margin: 10px 0px 10px 0px;
}

form input::placeholder{
    color: #39393980;
}

.checkbox-items label{
    font-size: 25px;
}

.checkbox-items{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

input[type="checkbox"]{
    transform:scale(1.7)
}

input[type="submit"]{
    background-color: var(--azul-dnc);
    width: 100%;
    height: 50px;
    padding: 0px;
    color: rgb(224, 223, 223);
    font-size: 32px;
    font-weight: 600;
    margin-top: 70px;
    box-shadow: 0px 6px 4px rgba(12, 112, 242, 0.25);
    cursor: pointer;
}

input[type="submit"]:hover{
    background-color: #348afc;
    box-shadow: 0px 6px 4px rgba(28, 127, 255, 0.25);
    color: white
}

/* FOOTER */

footer{
    background-color: var(--azul-dnc);
    width: 100%;
}

footer .linha1{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-family: var(--fonte-padrao);
}

footer nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 450px;
}

footer h5{
    font-family: var(--fonte-padrao);
    font-size: 25px;
    font-weight: 800;
    text-align: center;
    color: white;
    background-color: var(--preto-dnc);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}

footer ul li{
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    color: white;
    margin: 35px 0px 35px 0px;
}

footer ul li a{
    color: white;
    text-decoration: none;
 }

 footer ul li a:hover{
    color: var(--cinza-hover);
 }

 footer #endereco{
    font-family: var(--fonte-padrao);
    font-size: 25px;
    font-weight: 800;
    color: white;
    width: 30%;
 }

 footer .linha2{
    height: 45px;
    display: flex;
    justify-content: center;
    padding: 60px 0px 30px 0px;
 }

 footer .linha2 a{
    font-family: var(--fonte-padrao);
    font-size: 25px;
    font-weight: 600;
    color: white;
    text-decoration: none;
    padding: 15px;
 }
 footer .linha2 a:first-child{
    border-right: 3px solid white;
 }

 footer .linha2 a:hover{
    color: var(--cinza-hover);
 }

 @media only screen and (max-width: 600px){
    /* MENU */

    #principal{
        flex-direction: column;
        height: auto;
    }
    #menu{
        flex-direction: column;
        width: 100%;
        margin: 0px;
        padding: 0px;
    }
    #menu a{
        display: flex;
        align-items: center;
        height: 50px;
    }

    #principal button{
        width: 100%;
        margin: 0px;
    }

    /* SECTION */
    section h1{
        font-size: 38px;
    }
    section h2{
        font-size: 25px;
        padding-right:15px;
        padding-left:15px;
    }

    form{
        width: 95%;
        font-size: 20px;
    }
    .checkbox-items label{
        font-size: 17px;
    }

    /* FOOTER */

    footer .linha1{
        flex-direction: column;
    }

    footer #endereco{
        width: 95%;
        font-size: 17px;
    }

    footer .linha2 a{
        font-size: 18px;
    }

    footer .linha1 h5{
        font-size: 20px;
    }

    footer .linha1 a{
        font-size: 17px;
    }
 }